In [1]:
import csv
from matplotlib.ticker import FuncFormatter
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
#Vanessa's CSV
# out_df = pd.read_csv('Quick Facts - Out of State.csv')
# california_df = pd.read_csv('Quick Facts - California.csv')

#Emily's API


#Emily's CSV
csv_path = "SF_ALL_OUT.csv"
sf_out_df = pd.read_csv(csv_path)

#Rebecca's CSV

#Stefan's CSV

# Escape the Bay

Emily Todd, Vanessa Oakes, Rebecca X, Stefan X.

Research Question to Answer: What are the motiviating factors to move out of SF county?

Parameters:
Used latest data 2017 unless otherwise noted
Although the majority of people leaving SF would move to nearby counties
we have separated within California and Out of State.

Research:

    We used census.gov and their datasets.
    We also we able to grab their API.

Housing:

Why are they leaving? 
Where are they going?
How's the housing market similar and different against SF County
Who are they?

_Insert Emily information

In [3]:
#Emily Counties
ranked_sf_out_df = sf_out_df.sort_values(by='Total', ascending=False)
sf_to_ca = ranked_sf_out_df.loc[ranked_sf_out_df["State Name"] == "California",:]
sf_to_ca.head(5)

,State/County FIPS,State FIPS,County FIPS,County Name,State Name,Total,Margin of Error (+/-)
19,'06001','06','001',Alameda County,California,10791,1127
52,'06081','06','081',San Mateo County,California,8995,1054
25,'06013','06','013',Contra Costa County,California,4085,631
34,'06037','06','037',Los Angeles County,California,3726,547
54,'06085','06','085',Santa Clara County,California,3383,447

In [4]:
sf_not_ca = ranked_sf_out_df.loc[ranked_sf_out_df["State Name"] != "California",:]
sf_not_ca.head(5)

,State/County FIPS,State FIPS,County FIPS,County Name,State Name,Total,Margin of Error (+/-)
259,'36061','36','061',New York County,New York,1419,657
413,'53033','53','033',King County,Washington,1293,336
326,'41051','41','051',Multnomah County,Oregon,1094,282
255,'36047','36','047',Kings County,New York,887,300
131,'17031','17','031',Cook County,Illinois,635,223

In [5]:
#Emily's CSV to show how she got in/out state
Top 5 Counties in California
California
1. Alameda County
2. San Mateo County
3. Contra Costa County
4. Los Angeles County
5. Santa Clara County

Top 5 Counties they leave outside of California
Non – California
1.	New York County (NY)
2.	King County (Washington)
3.	Multnomah County (Oregon)
4.	Kings County (New York)
5.	Cook County (Illinois)

SyntaxError: invalid syntax (<ipython-input-5-0606abca8aea>, line 2)

In [ ]:
#Vanessa's info
Generic:
Who are the people leaving? 
Race / Ethnicity
Gender / Age
Marital Status

In [ ]:
#Emily info
Motivations
Why are they leaving? 
Where are they going?
How's the housing market similar and different against SF County

In [ ]:
Rebecca
Income within 11 different counties
-What's the status of median household income in SF against CA/Out
    -Are people giving up anything
-Commute?

In [ ]:
Stefan
Number of businesses information
Employment
#SF is not in the front of his graph
#No clear explanation of what the graph's represent

In [ ]:
References
Conclusion

In [ ]:
Keep in Mind:


The questions you and your group found interesting, and what motivated you to answer them
Where and how you found the data you used to answer these questions
The data exploration and cleanup process (accompanied by your Jupyter Notebook)
The analysis process (accompanied by your Jupyter Notebook)
Your conclusions. This should include a numerical summary as well as visualizations of that summary
Discuss the implications of your findings. This is where you get to have an open-ended discussion about what your findings "mean".