In [2]:
import pandas as pd
csv_path = "SF_ALL_OUT.csv"
sf_out_df = pd.read_csv(csv_path)

sf_out_df.head()

,State/County FIPS,State FIPS,County FIPS,County Name,State Name,Total,Margin of Error (+/-)
0,'01073','01','073',Jefferson County,Alabama,43,40
1,'01081','01','081',Lee County,Alabama,0,27
2,'01089','01','089',Madison County,Alabama,5,7
3,'01097','01','097',Mobile County,Alabama,75,96
4,'01117','01','117',Shelby County,Alabama,0,27

In [9]:
ranked_sf_out_df = sf_out_df.sort_values(by='Total', ascending=False)
ranked_sf_out_df.head(20)

,State/County FIPS,State FIPS,County FIPS,County Name,State Name,Total,Margin of Error (+/-)
19,'06001','06','001',Alameda County,California,10791,1127
52,'06081','06','081',San Mateo County,California,8995,1054
25,'06013','06','013',Contra Costa County,California,4085,631
34,'06037','06','037',Los Angeles County,California,3726,547
54,'06085','06','085',Santa Clara County,California,3383,447
36,'06041','06','041',Marin County,California,2859,525
60,'06097','06','097',Sonoma County,California,1479,306
259,'36061','36','061',New York County,New York,1419,657
46,'06067','06','067',Sacramento County,California,1355,385
413,'53033','53','033',King County,Washington,1293,336
326,'41051','41','051',Multnomah County,Oregon,1094,282
50,'06077','06','077',San Joaquin County,California,932,267
255,'36047','36','047',Kings County,New York,887,300
59,'06095','06','095',Solano County,California,725,265
43,'06059','06','059',Orange County,California,715,228
49,'06073','06','073',San Diego County,California,697,226
131,'17031','17','031',Cook County,Illinois,635,223
67,'06113','06','113',Yolo County,California,573,215
186,'25025','25','025',Suffolk County,Massachusetts,546,203
45,'06065','06','065',Riverside County,California,513,287

In [10]:
sf_to_ca = ranked_sf_out_df.loc[ranked_sf_out_df["State Name"] == "California",:]
sf_to_ca.head(10)

,State/County FIPS,State FIPS,County FIPS,County Name,State Name,Total,Margin of Error (+/-)
19,'06001','06','001',Alameda County,California,10791,1127
52,'06081','06','081',San Mateo County,California,8995,1054
25,'06013','06','013',Contra Costa County,California,4085,631
34,'06037','06','037',Los Angeles County,California,3726,547
54,'06085','06','085',Santa Clara County,California,3383,447
36,'06041','06','041',Marin County,California,2859,525
60,'06097','06','097',Sonoma County,California,1479,306
46,'06067','06','067',Sacramento County,California,1355,385
50,'06077','06','077',San Joaquin County,California,932,267
59,'06095','06','095',Solano County,California,725,265

In [11]:
sf_not_ca = ranked_sf_out_df.loc[ranked_sf_out_df["State Name"] != "California",:]
sf_not_ca.head(10)

,State/County FIPS,State FIPS,County FIPS,County Name,State Name,Total,Margin of Error (+/-)
259,'36061','36','061',New York County,New York,1419,657
413,'53033','53','033',King County,Washington,1293,336
326,'41051','41','051',Multnomah County,Oregon,1094,282
255,'36047','36','047',Kings County,New York,887,300
131,'17031','17','031',Cook County,Illinois,635,223
186,'25025','25','025',Suffolk County,Massachusetts,546,203
74,'08031','08','031',Denver County,Colorado,437,180
183,'25017','25','017',Middlesex County,Massachusetts,394,153
10,'04013','04','013',Maricopa County,Arizona,394,187
227,'32031','32','031',Washoe County,Nevada,359,151